* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: white;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.container {
    position: relative;
}

#canvas {
    background: rgb(255, 255, 245);
    z-index: 1;
}

.controls {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 14px;
    line-height: 30px;
    text-align: right;
}
